# Project Plan
- Project Plan
- Project Description
- Data Load
- Data Inspection
- Data Preprocessing
- Exploratory Analysis

# Project Description
We are working for the cell service provider, which offers two packages. <br/>
Our task is to analyse clients behavior and determine which package is more profitable for the company.

Package - "Smart"
- Monthly charge $\$$11
- Included
  - 500 min of calls
  - 50 texts
  - 15 gb of internet
- Overage
  - $\$$0.06/min
  - $\$$0.06/text
  - $\$$4/gb

Package - "Ultra"
- Monthly charge $\$$39
- Included
  - 3000 min of calls
  - 1000 texts
  - 30 gb of internet
- Overage
  - $\$$0.02/min
  - $\$$0.02/text
  - $\$$3/gb

(Service useage rounds up - 1025 MB -> 2 GB, 1 sec -> 1 min)

# Data Load

In [1]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy import stats as st
import matplotlib.pyplot as plt

In [2]:
path_datasets = os.path.join(os.getcwd(), 'datasets')

In [3]:
df_users = pd.read_csv(os.path.join(path_datasets, 'users.csv'))
df_tariffs = pd.read_csv(os.path.join(path_datasets, 'tariffs.csv'))
df_messages = pd.read_csv(os.path.join(path_datasets, 'messages.csv'))
df_internet = pd.read_csv(os.path.join(path_datasets, 'internet.csv'))
df_calls = pd.read_csv(os.path.join(path_datasets, 'calls.csv'))

# Data Inspection

In [4]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     500 non-null    int64
 1   age         500 non-null    int64
 2   churn_date  38 non-null     object
 3   city        500 non-null    object
 4   first_name  500 non-null    object
 5   last_name   500 non-null    object
 6   reg_date    500 non-null    object
 7   tariff      500 non-null    object
dtypes: int64(2), object(6)
memory usage: 31.4+ KB

In [5]:
df_users.head(3)

,user_id,age,churn_date,city,first_name,last_name,reg_date,tariff
0,1000,52,NaN,Краснодар,Рафаил,Верещагин,2018-05-25,ultra
1,1001,41,NaN,Москва,Иван,Ежов,2018-11-01,smart
2,1002,59,NaN,Стерлитамак,Евгений,Абрамович,2018-06-17,smart

<div style="background:DeepSkyBlue;padding:2rem;">
    Columns - "churn_date", "reg_date" - can be converted to a proper data type. <br/>
    Column "churn_date" has only 38 values, which likely means NaNs are clients who are still using services.
</div>

In [6]:
df_tariffs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   messages_included      2 non-null      int64
 1   mb_per_month_included  2 non-null      int64
 2   minutes_included       2 non-null      int64
 3   rub_monthly_fee        2 non-null      int64
 4   rub_per_gb             2 non-null      int64
 5   rub_per_message        2 non-null      int64
 6   rub_per_minute         2 non-null      int64
 7   tariff_name            2 non-null      object
dtypes: int64(7), object(1)
memory usage: 256.0+ bytes

In [7]:
df_tariffs.head(3)

,messages_included,mb_per_month_included,minutes_included,rub_monthly_fee,rub_per_gb,rub_per_message,rub_per_minute,tariff_name
0,50,15360,500,550,200,3,3,smart
1,1000,30720,3000,1950,150,1,1,ultra

<div style="background:DeepSkyBlue;padding:2rem;">
    This looks like a dimension table!
</div>

In [8]:
df_messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123036 entries, 0 to 123035
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            123036 non-null  object
 1   message_date  123036 non-null  object
 2   user_id       123036 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.8+ MB

In [9]:
df_messages.head(3)

       id message_date  user_id
0  1000_0   2018-06-27     1000
1  1000_1   2018-10-08     1000
2  1000_2   2018-08-04     1000

<div style="background:DeepSkyBlue;padding:2rem;">
    Looks like column "id" has column "user_id" encoded in it.
</div>

In [10]:
df_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149396 entries, 0 to 149395
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    149396 non-null  int64
 1   id            149396 non-null  object
 2   mb_used       149396 non-null  float64
 3   session_date  149396 non-null  object
 4   user_id       149396 non-null  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 5.7+ MB

In [11]:
df_internet.head(3)

   Unnamed: 0      id  mb_used session_date  user_id
0           0  1000_0   112.95   2018-11-25     1000
1           1  1000_1  1052.81   2018-09-07     1000
2           2  1000_2  1197.26   2018-06-25     1000

<div style="background:DeepSkyBlue;padding:2rem;">
    First column should be dropped. <br/>
    Column "session_date" can be converted to dt data type. <br/>
    Looks like column "id" has column "user_id" encoded in it.
</div>

In [12]:
df_calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202607 entries, 0 to 202606
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         202607 non-null  object
 1   call_date  202607 non-null  object
 2   duration   202607 non-null  float64
 3   user_id    202607 non-null  int64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.2+ MB

In [13]:
df_calls.head(3)

       id   call_date  duration  user_id
0  1000_0  2018-07-25      0.00     1000
1  1000_1  2018-08-17      0.00     1000
2  1000_2  2018-06-11      2.85     1000

<div style="background:DeepSkyBlue;padding:2rem;">
    Column "call_date" can be converted to dt data type. <br/>
    Looks like column "id" has column "user_id" encoded in it.
</div>

# Data Preprocessing

Columns' data types to fix:
- "reg_date" to datetime
- "churn_date" to datetime
- "session_date" to datetime
- "call_date" to datetime

In [14]:
df_users.reg_date = pd.to_datetime(df_users.reg_date, errors='coerce')
df_users.churn_date = pd.to_datetime(df_users.churn_date, errors='coerce')

In [15]:
df_messages.message_date = pd.to_datetime(df_messages.message_date, errors='coerce')

In [16]:
df_calls.call_date = pd.to_datetime(df_calls.call_date, errors='coerce')

In [17]:
df_internet.session_date = pd.to_datetime(df_internet.session_date, errors='coerce')

Drop df_internet's first column "Unnamed: 0"

In [18]:
df_internet = df_internet.drop(['Unnamed: 0'], axis=1)

<div style="background:DeepSkyBlue;padding:2rem;">
    There are three services that we need to track - call minutes, texts, data. <br/>
</div>

<div style="background:DeepSkyBlue;padding:2rem;">
    The correct to calculate charges is using registration date. <br/>
</div>

<div style="background:DeepSkyBlue;padding:2rem;">
    Calculate call period. <br/>
</div>

In [21]:
df_calls = df_calls.merge(df_users[['reg_date', 'user_id']], how='left', on='user_id')

In [22]:
df_calls[0]

KeyError: 0